@import bourbon/bourbon
@import neat/neat
@import normalize.css

$tablet: max-width 768px 8
$mobile: max-width 480px 4

html, body
  height: 100%
  min-height: 100%

.page
  min-height: 120%
  padding: 50px 0

  @include media($tablet)
    min-height: 0
    padding: 0

// Grid

.container
  padding: 0 10px
  @include outer-container

.row
  margin: 40px 0
  @include row(block)

  @include media($mobile)
    margin: 0

.column
  padding: 0 10px

  &.four
    @include span-columns(4)

    @include media($tablet)
      @include span-columns(4)
      @include omega(2n)

    @include media($mobile)
      @include span-columns(4)

  &.three
    @include span-columns(3)

    @include media($tablet)
      @include span-columns(4)
      @include omega(2n)

    @include media($mobile)
      @include span-columns(4)

// Navigatie

nav
  background: #fff
  position: fixed
  width: 100%
  z-index: 10

  @include box-shadow(0 0 3px rgba(0, 0, 0, .5))

  @include media($tablet)
    display: none

  ul
    margin: 0 auto
    padding: 0 20px
    text-align: right
    @include outer-container

    li
      display: inline-block

    li a
      border-top: 2px solid transparent
      color: #333
      display: inline-block
      font-family: "AllerDisplay-Regular"
      font-size: 14px
      line-height: 46px
      margin: 0 10px
      padding: 0 10px
      text-transform: uppercase

    li.active a
      border-bottom: 2px solid #01a388
      color: #01a388

    li:last-child a
      margin-right: 0

  #logo
    height: 41px
    overflow: hidden
    position: absolute
    text-indent: 100%
    top: 4px
    white-space: nowrap
    width: 109px
    @include retina-image("/images/logo", 109px 41px)

// Home

#home
  background: #000
  overflow: hidden
  padding: 0
  position: relative
  text-align: center
  min-height: 100%
  z-index: 10

  img
    height: 100%

  .get-to-know-us
    background-position: center 75px
    background-repeat: no-repeat
    bottom: 0px
    display: block
    font-family: "SkolarWeb-Italic"
    font-size: 18px
    line-height: 120px
    position: absolute
    text-align: center
    width: 100%

    @include retina-image("/images/arrow", 21px 25px)
    @include transition(opacity .2s ease)

    &:hover
      color: #0088cc
      opacity: .75

// Over ons

.profile
  @include span-columns(3)

  @include media($tablet)
    @include span-columns(4)
    @include omega(2n)

  @include media($mobile)
    @include span-columns(4)

  img
    width: 100%

    @include media($tablet)
      @include span-columns(2)

  .description
    @include media($tablet)
      @include span-columns(6)

  h3
    margin: 12px 0 0 0
    text-align: center

    @include media($tablet)
      margin: 0
      text-align: left

  small
    color: #666
    display: block
    font-family: "Aller-Italic"
    font-size: 15px
    text-align: center

    @include media($tablet)
      text-align: left

.profile-picture
  border-radius: 50%

// Diensten

#services
  background: #222

  h1
    color: #dcdedd
    border-color: #4e4e4e

  h2
    text-align: center

  p
    color: #a1a1a1

.concept-image
  height: 114px
  margin: 0 auto
  width: 46px
  @include retina-image("/images/concept", 46px 114px)

.ontwerp-image
  height: 114px
  margin: 0 auto
  width: 114px
  @include retina-image("/images/ontwerp", 114px 114px)

.realisatie-image
  height: 114px
  margin: 0 auto
  width: 88px
  @include retina-image("/images/realisatie", 88px 114px)

// Ons werk

#portfolio
  min-height: 0
  padding-bottom: 0px

  .description
    padding: 0 10px
    @include span-columns(4)

    @include media($tablet)
      @include span-columns(4)

    @include media($mobile)
      @include span-columns(4)

  .row
    margin: 40px 0 0 0

  .image
    text-align: right
    @include span-columns(8)

    @include media($tablet)
      @include span-columns(4)

    img
      display: block
      max-width: 622px
      width: 100%

.gray-background
  background: #fafafa

// Contact

#contact
  min-height: 100%
  padding: 0 0 200px 0

  @include media($tablet)
    min-height: 0

.contact-form
  padding: 0 10px

  @include span-columns(8)

  @include media($tablet)
    @include span-columns(8)

.contact-information
  padding: 0 10px

  @include span-columns(4)

  @include media($tablet)
    @include span-columns(8)


.map
  display: block
  max-height: 300px
  overflow: hidden
  position: relative

  img
    display: block
    width: 100%

.map::before
  content: ""
  display: block
  height: 100%
  left: -10%
  position: absolute
  width: 120%
  @include box-shadow(inset 0 0 7px #000)

// Footer

#footer
  min-height: 200px
  margin-top: -200px

  p, ul li a
    font-size: 13px

  ul
    margin: 22px 0
    padding: 0

  ul li
    list-style: none

// Styles

h1
  border-bottom: 1px dashed #e5e5e5
  color: #333
  font-family: "SkolarBasicLt-Regular"
  font-size: 48px
  font-weight: normal
  line-height: 80px

  @include media($tablet)
    font-size: 40px
    line-height: 60px

  @include media($mobile)
    font-size: 32px
    line-height: 48px

h2
  color: #01a388
  font-family: "AllerDisplay-Regular"
  font-size: 24px
  font-weight: normal
  text-transform: uppercase

  @include media($tablet)
    font-size: 20px

  @include media($mobile)
    font-size: 16px

h3
  color: #0088cc
  font-family: "SkolarWeb-Italic"
  font-size: 20px
  font-weight: normal

h4
  color: #666
  font-family: "AllerDisplay-Regular"
  font-size: 13px
  font-weight: normal
  margin-top: 22px
  text-transform: uppercase

hgroup
  h1, h2, h3
    margin: 0

p
  color: #666
  font-family: "Aller-Regular"
  font-size: 14px
  line-height: 22px
  margin: 22px 0

  strong
    font-family: "Aller-Bold"

a
  color: #0088cc
  font-family: "Aller-Regular"
  font-size: 14px
  text-decoration: none
  @include transition (color .2s linear)

a:hover
  color: #01a388

a.button
  background-color: #0088cc
  border-radius: 3px
  color: #fff
  font-family: "Aller-Bold"
  font-size: 13px
  padding: 10px 16px
  @include transition (background-color .2s ease)

  &:hover
    background-color: #01a388
    color: #fff

::-moz-selection
  background-color: #333
  color: #fff

::selection
  background-color: #333
  color: #fff