@import bourbon/bourbon
@import neat/neat
@import normalize.css
@import royalslider.css

$tablet: max-width 768px 8
$mobile: max-width 480px 4

$body-font: "ProximaNova-Regular"
$body-font-italic: "ProximaNova-RegularIt"
$body-font-semibold: "ProximaNova-Semibold"
$body-font-bold: "ProximaNova-Bold"
$headings-font: "FuturaPTHeavy-Reg"
$serif-font: "MerriweatherST-Italic"

html
  height: 100%
  min-height: 100%

body
  height: 100%
  min-height: 100%

#contact, #services, #portfolio, #aboutus
  padding-top: 72px

  @include media($mobile)
    padding-top: 52px

// Grid

.container
  padding: 0 10px
  @include outer-container

.row
  margin: 40px 0
  @include row(block)

  @include media($mobile)
    margin: 0

.column
  padding: 0 10px

  &.four
    @include span-columns(4)

    @include media($tablet)
      @include span-columns(4)
      @include omega(2n)

    @include media($mobile)
      @include span-columns(4)

  &.three
    @include span-columns(3)

    @include media($tablet)
      @include span-columns(4)
      @include omega(2n)

    @include media($mobile)
      @include span-columns(4)

// Navigatie

nav
  background: #fff
  box-shadow: 0 0 3px rgba(0, 0, 0, .5)
  position: fixed
  width: 100%
  z-index: 999

  ul
    min-height: 72px
    margin: 0 auto
    padding: 0 20px
    position: relative
    text-align: right
    @include outer-container

    @include media($mobile)
      background: rgba(255, 255, 255, .9)
      box-shadow: 0 0 3px rgba(0, 0, 0, .5)
      min-height: 52px
      height: 52px
      overflow: hidden
      padding: 10px 20px
      position: absolute
      width: 100%
      @include transition(height .4s ease)

    li
      display: inline-block

      @include media($mobile)
        display: block

    li.nav-toggle
      display: none

      @include media($mobile)
        display: block

      a:after
        content: "+"
        display: inline-block
        font-family: $headings-font
        line-height: 32px
        position: absolute
        margin-left: 2px

    &.nav-opened
      height: 180px

      li.nav-toggle a:after
        content: "-"

    li a
      color: #333
      display: inline-block
      font-family: $headings-font
      font-size: 15px
      line-height: 72px
      margin: 0 10px
      padding: 0 10px
      text-transform: uppercase

      @include media($mobile)
        display: block
        line-height: 32px

    li a[href="#home"]
      display: none

    li.active a
      color: #01a388

    li:last-child a
      margin-right: 0

      @include media($mobile)
        margin-right: 10px

  #logo
    background-repeat: no-repeat
    background-position: center
    height: 70px
    left: 0px
    margin-left: 20px
    overflow: hidden
    position: absolute
    text-indent: 100%
    top: 0px
    white-space: nowrap
    width: 155px
    @include retina-image("/images/logo", 155px 58px)

    @include media($mobile)
      height: 52px
      width: 37px
      @include retina-image("/images/logo-small", 37px 36px)

// Home
#home
  background: transparent
  height: 100%
  min-height: 100%
  overflow: hidden
  padding: 0
  position: relative
  text-align: center

  .introduction
    text-align: center
    position: absolute
    top: 20%
    width: 100%

    h1
      border: none
      color: #333
      font-family: $serif-font
      font-size: 36px
      font-weight: normal
      margin: 0

      @include media($tablet)
        font-size: 32px

      @include media($mobile)
        font-size: 26px

  #logo_big
    background-color: transparent
    height: 200px
    width: 200px

    @include retina-image("/images/logo_big", 200px 200px)

  img
    height: 100%

// Over ons

.profile
  @include span-columns(3)

  @include media($tablet)
    @include span-columns(4)
    @include omega(2n)

  @include media($mobile)
    @include span-columns(4)

  img
    width: 100%

    @include media($tablet)
      @include span-columns(2)

  .description
    @include media($tablet)
      @include span-columns(6)

  h3
    margin: 12px 0 0 0
    text-align: center

    @include media($tablet)
      margin: 0
      text-align: left

  small
    text-align: center

    @include media($tablet)
      text-align: left

.profile-picture
  border-radius: 50%

// Diensten

#services
  padding-bottom: 200px

  .service
    h2
      text-align: center

.concept-image
  height: 114px
  margin: 0 auto
  width: 46px
  @include retina-image("/images/concept", 46px 114px)

.ontwerp-image
  height: 114px
  margin: 0 auto
  width: 114px
  @include retina-image("/images/ontwerp", 114px 114px)

.realisatie-image
  height: 114px
  margin: 0 auto
  width: 88px
  @include retina-image("/images/realisatie", 88px 114px)

// Ons werk

#portfolio
  min-height: 0
  padding-bottom: 0px

  .description
    padding: 0 10px
    @include span-columns(4)

    @include media($tablet)
      @include span-columns(4)

    @include media($mobile)
      @include span-columns(4)

  .row
    margin: 40px 0 0 0

  .image
    text-align: right
    @include span-columns(8)

    @include media($tablet)
      @include span-columns(4)

    img
      display: block
      max-width: 622px
      width: 100%

.gray-background
  background: #fafafa

// Contact

#contact_footer
  border-top: 1px dashed #e5e5e5

#contact
  min-height: 100%

  @include media($tablet)
    min-height: 0

.contact-form
  padding: 0 10px

  @include span-columns(8)

  @include media($tablet)
    margin-top: 24px
    @include span-columns(8)

.contact-information
  padding: 0 10px

  @include span-columns(4)

  @include media($tablet)
    @include span-columns(8)

.contact
  @include span-columns(6)

  @include media($mobile)
    margin-bottom: 24px
    @include span-columns(4)

.map-container
  display: block
  max-height: 380px
  overflow: hidden
  position: relative

.map
  position: relative

  img
    display: block
    width: 100%

  .current-location
    left: 60%
    position: absolute
    top: 39%

  .blob
    position: relative

  .dot
    border-radius: 30px
    height: 12px
    left: 6px
    position: absolute
    top: 6px
    width: 12px
    z-index: 3
    @include background-image(linear-gradient(top left, #5eebfd, #05199d))
    @include box-shadow(0 0 4px #031264)

  .glow
    background: rgba(162, 198, 252, .5)
    border: 2px solid #a2c6fc
    border-radius: 30px
    height: 24px
    opacity: 0
    position: absolute
    width: 24px
    @include animation(pulsate 1.4s infinite)
    @include box-shadow(0 0 5px #95dafd)

@include keyframes(pulsate)
  0%
    opacity: 0
    @include transform(scale(0.1, 0.1))
  50%
    opacity: 1
  100%
    opacity: 0
    @include transform(scale(1.2, 1.2))


.map::before
  content: ""
  display: block
  height: 100%
  left: -10%
  position: absolute
  width: 120%
  @include box-shadow(inset 0 0 7px #000)

// Footer

#footer
  min-height: 200px
  margin-top: -200px

  p, ul li a
    font-size: 13px

  ul
    margin: 22px 0
    padding: 0

  ul li
    list-style: none

// Styles
section, footer, nav
  h1
    color: #444
    font-family: $headings-font
    font-size: 36px
    font-weight: normal
    line-height: 112px
    text-align: center
    text-transform: uppercase

    @include media($tablet)
      font-size: 32px
      line-height: 60px

    @include media($mobile)
      font-size: 28px
      line-height: 48px

  h2
    color: #01a388
    font-family: $headings-font
    font-size: 24px
    font-weight: normal
    text-transform: uppercase

    @include media($tablet)
      font-size: 20px

    @include media($mobile)
      font-size: 16px

  h3
    color: #0088cc
    font-family: $serif-font
    font-size: 18px
    font-weight: normal

  h4
    color: #666
    font-family: $headings-font
    font-size: 13px
    font-weight: normal
    margin-top: 22px
    text-transform: uppercase

  small
    color: #666
    display: block
    font-family: $body-font-italic
    font-size: 15px

  hgroup
    h1, h2, h3, h4
      margin: 0

  p
    color: #666
    font-family: $body-font
    font-size: 15px
    line-height: 22px
    margin: 22px 0

    strong
      font-family: $body-font-semibold
      font-weight: normal

  a
    color: #0088cc
    font-family: $body-font
    font-size: 15px
    text-decoration: none
    @include transition (color .2s linear)

  a:hover
    color: #01a388

  a.button
    background-color: #0088cc
    border-radius: 3px
    color: #fff
    font-family: $body-font-semibold
    font-size: 14px
    padding: 10px 16px
    @include transition (background-color .2s ease)

    &:hover
      background-color: #01a388
      color: #fff

  ::-moz-selection
    background-color: #333
    color: #fff

  ::selection
    background-color: #333
    color: #fff