%section
  .container
    .row
      .contact-form
        %h2 Benieuwd naar de mogelijkheden?
        %p Wij praten u graag bij over de laatste ontwikkelingen en mogelijkheden. Contact opnemen kan via Twitter, Facebook, email en zelfs nog telefoon.

        .contact
          %hgroup
            %h3 Bram Jetten
            %small bram@denkgroot.com

        .contact
          %hgroup
            %h3 Jeroen van Lier
            %small jeroen@denkgroot.com

      .contact-information
        %h2 Contactgegevens
        %p
          %strong denkGroot B.V.<br />
          De Flammert 1408<br />
          5854 NE, Nieuw-Bergen<br />

        %p
          Tel: 085 401 19 33

        %p
          Email: info@denkgroot.com<br />
          KvK: 60001836<br />
          BTW: NL853726668B01