%section#contact
  .map-container
    .map
      .current-location
        .blob
          .glow
          .dot
      %img{src: '/images/map.jpg', alt: 'De Flammert 1408, Nieuw-Bergen'}
      
  = haml :contact_footer