.map
  %img{src: '/images/map.jpg', alt: 'De Flammert 1408, Nieuw-Bergen'}

.container
  .row
    .contact-form
      %h2 Benieuwd naar de mogelijkheden?
      %p Wij praten u graag bij  over de laatste ontwikkelingen en mogelijkheden, onder het genot van een lekker kopje cappuccino.

      .contact
        %h3 Bram Jetten
        %p 
          bram@denkgroot.com<br />
          06 18 606 826

      .contact
        %h3 Jeroen van Lier
        %p 
          jeroen@denkgroot.com<br />
          06 54 227 614

    .column

    .contact-information
      %h2 Contactgegevens
      %p 
        De Flammert 1408<br /> 
        5854 NE, Nieuw-Bergen<br />
        %a{href: '#'} Download routebeschrijving

      %p
        Email: info@denkgroot.com<br />
        KvK: 55586473
