.container
  .column
    %h1 Diensten

  .column.four
    .concept-image
    %h2 Concept.
    %p Wij houden van <strong>brainstormen</strong>. Geef ons een whiteboard, wat A3-vellen en een stapel stiften en wij zijn een hele middag bezig onze ideeën uit te tekenen, te verfijnen en aan te scherpen. Zo bedenken wij de meest <strong>spannende en uitdagende concepten</strong>.

  .column.four
    .ontwerp-image
    %h2 Ontwerp.
    %p Onze getalenteerde ontwerpers weten altijd de juiste mix te vinden tussen een <strong>gebruiksvriendelijke</strong> applicatie en een <strong>kunstzinnig</strong> ontwerp. Met <strong>prototypes</strong> maken wij onze ideeën tastbaar.

  .column.four
    .realisatie-image
    %h2 Realisatie.
    %p Wij werken graag <strong>on the edge</strong>: wij zoeken de grenzen op van de mogelijkheden. Gewapend met een arsenaal aan programmeertalen – Ruby, CoffeeScript, Node.js, PostgreSQL – vinden wij voor zelfs de meest uitdagende projecten een <strong>passende oplossing</strong>.