.gray-background#footer
  .container
    %footer
      .column.three
        %h4 Website
        %ul
          %li
            %a{href: '#'} Home
          %li
            %a{href: '#'} Over ons
          %li
            %a{href: '#'} Diensten
          %li
            %a{href: '#'} Ons werk
          %li
            %a{href: '#'} Contact

      .column.three
        %h4 Je kunt ons vinden op
        %ul
          %li
            %a{href: '#'} Twitter
          %li
            %a{href: '#'} Facebook
          %li
            %a{href: '#'} Dribbble
          %li
            %a{href: '#'} ThemeForest

      .column.three
        %h4 Contactgegevens
        %p 
          Telefoon: (06) 18 606 826<br />
          Email: info@denkgroot.com<br />
          KvK: 55586473

      .column.three
        %h4 Adresgegevens
        %p 
          De Flammert 1408<br /> 
          5854 NE, Nieuw-Bergen