.gray-background#footer
  .container
    %footer
      .column.three
        %h4 Website
        %ul
          %li
            %a.navlink{href: '#home'} Home
          %li
            %a.navlink{href: '#about'} Over ons
          %li
            %a.navlink{href: '#services'} Diensten
          %li
            %a.navlink{href: '#portfolio'} Ons werk
          %li
            %a.navlink{href: '#contact'} Contact

      .column.three
        %h4 Je kunt ons vinden op
        %ul
          %li
            %a{href: 'https://twitter.com/denkGrootNL', target: "_blank"} Twitter
          %li
            %a{href: 'https://www.facebook.com/denkGroot', target: "_blank"} Facebook
          %li
            %a{href: 'http://dribbble.com/Bramjetten', target: "_blank"} Dribbble
          %li
            %a{href: 'http://themeforest.net/user/denkGroot', target: "_blank"} ThemeForest

      .column.three
        %h4 Contactgegevens
        %p 
          Email: info at denkgroot.com<br />
          KvK: 55586473

      .column.three
        %h4 Adresgegevens
        %p 
          De Flammert 1408<br /> 
          5854 NE, Nieuw-Bergen