!!!
%html{lang: 'nl'}
  %head
    %meta{charset: 'utf-8'}
    %title denkGroot Apps & websites

    %link{href: "http://fnt.webink.com/wfs/webink.css/?project=7986BB53-D836-417B-B969-828D75C900FC&fonts=4F449915-A3A8-CF9A-BB23-D64A3A9C1A7A:f=SkolarWeb-Italic,9C5DF801-C745-E177-908F-369BCECD52B7:f=Aller-Italic,1B6C2E6C-BB21-53D3-2175-C814D91AD16C:f=Aller-Bold,E91036C1-9B3E-398B-6BC8-3F30F4412BFB:f=SkolarWeb-Bold,A504D07C-783E-0F85-8B38-EFB57612CD7B:f=AllerDisplay-Regular,32A3E230-3101-A662-F6D5-D8B9D0A38A5B:f=Aller-Regular,BA035607-6CEF-91EE-45AA-C22E5D831064:f=SkolarBasicLt-Regular", rel: "stylesheet" }

    %link{rel: 'stylesheet', href: '/stylesheets/application.css'}

  %body
    %section.page
      .container
        .column
          %h1 Over ons

        .row
          .column.four
            %h2 denkGroot
            %p Wij bouwen <strong>applicaties voor het web</strong> en mobiele apparaten als de <strong>iPhone</strong> en de <strong>iPad</strong>. Wij helpen ondernemers <strong>internetstrategieën</strong> op te zetten en werken deze plannen verder uit.
            %p Wij werken aan onze eigen concepten en proberen zo de markt te verrijken.
            %p
              %a{href: '#'} Bekijk ons werk

          .column.four
            %h2 Onze visie
            %p Wij ontwikkelen geen maatwerksoftware met duizend-en-één onbegrijpelijke mogelijkheden. Een applicatie is pas geslaagd als deze <strong>intuïtief en zonder handleiding</strong> is te gebruiken. Bij ons ligt de nadruk op <strong>software</strong> die werkt.

          .column.four
            %h2 Onze aanpak
            %p Wij werken <a href="#"><strong>agile</strong></a>. Wij leveren liever <strong>uitstekende applicaties</strong> dan uitgebreide documentatie.
            %p Dankzij korte sprints van <strong>twee tot vier weken</strong> schakelen we snel en blijven we <strong>flexibel</strong>.
            %p
              %a{href: '#'} Lees meer over onze diensten

        .row
          .column
            %h2 Het Team

          .column.profile
            %img.profile-picture{src: "http://placehold.it/300x300.jpg"}
            .description
              %h3 Bram Jetten
              %small Directeur
              %p Als developer programmeert Bram er graag op los. Hij is een vurig liefhebber van Ruby, CoffeeScript en Apple, maar weet ook zijn weg te vinden in Photoshop.

          .column.profile
            %img.profile-picture{src: "http://placehold.it/300x300.jpg"}
            .description
              %h3 Jeroen van Lier
              %small Directeur
              %p Met zijn ondernemersspirit barst Jeroen van de ideeën. Iedere dag komt hij tot nieuwe en spannende concepten, dankzij een flinke dosis creativiteit en energie voor tien.

          .column.profile
            %img.profile-picture{src: "http://placehold.it/300x300.jpg"}
            .description
              %h3 Harm de Wit
              %small Ontwikkelaar
              %p Geef Harm een lekkere kop koffie en hij bouwt de meest ingenieuze oplossingen voor complexe problemen. Daarnaast weet hij zijn weg te vinden in de rootdirectories van onze servers.

          .column.profile
            %img.profile-picture{src: "http://placehold.it/300x300.jpg"}
            .description
              %h3 Alan Moss
              %small Schrijver
              %p Naast het spreken van vele talen en het lezen van stapels boeken is Alan uitmuntend schrijver van vlijmscherpe teksten.

    %section.page
      Diensten

    %section.page
      Ons werk

    %section.page
      Contact

    %scripts{src: '/javascripts/application.js'}