%section#portfolio
  .container
    .column
      %h1 Ons werk

  .container
    .row
      .description
        %hgroup
          %h2 Buscamper Nederland
          %h3 Webdesign, development

        %p De nieuwe website van <strong>Buscamper Nederland</strong> is ontworpen om op <strong>ieder apparaat</strong> optimaal te worden weergegeven. Zo kunnen bezoekers via laptops, tablets en smartphones de nieuwste campers bekijken.

        %p
          %a.button{href: 'http://www.buscamper.nl', target: '_blank'} Bekijk de website

      .image
        %img.retina-image{src: '/images/buscamper.png'}

  .gray-background
    .container
      .row
        .description
          %hgroup
            %h2 PlanGo Rijschoolsoftware
            %h3 Desktop webapp, development

          %p Voor <strong>PlanGo Rijschoolsoftware</strong> hebben wij een compleet vernieuwde <strong>webapplicatie</strong> gebouwd voor gebruik op kantoor. Met de app kunnen rijschoolhouders zelf plannen, factureren en vorderingen bijhouden.

          %p
            %a.button{href: 'http://www.rijschoolsoftware.nl', target: '_blank'} Bekijk de app

        .image
          %img.retina-image{src: '/images/plango.png'}

  .container
    .row
      .description
        %hgroup
          %h2 JustLocal
          %h3 Internetconcept, webapplicatie

        %p Als <strong>proof of concept</strong> hebben wij een vooruitstrevende app gebouwd die lokale aanbiedingen op een unieke manier in beeld brengt.

        %p
          %a.button{href: 'http://justlocal.denkgroot.com', target: '_blank'} Bekijk de app

      .image
        %img.retina-image{src: '/images/justlocal.png'}

  .gray-background
    .container
      .row
        .description
          %hgroup
            %h2 denkMobiel.nl
            %h3 Internetconcept

          %p Is jouw website geschikt voor <strong>mobiel</strong> en <strong>tablet</strong>? Wij zorgen ervoor dat ons werk klaar is voor de <strong>toekomst</strong> en goed werkt op uiteenlopende formaten.

          %p
            %a.button{href: 'http://www.denkmobiel.nl', target: '_blank'} Test je website

        .image
          %img.retina-image{src: '/images/denkmobiel.png'}

  .container
    .row
      .description
        %hgroup
          %h2 Netstar Productions
          %h3 Webdesign, development

        %p Door de website van Netstar Productions te voorzien van grote en duidelijke elementen behaalt het een <strong>hogere conversie</strong> dan voorheen. Dankzij <strong>responsive design</strong> is de website nu ook geschikt voor <strong>smartphones en tablets</strong>. Hierdoor is de site altijd en overal bereikbaar.

        %p
          %a.button{href: 'http://www.netstar.nl', target: '_blank'} Bekijk de website

      .image
        %img.retina-image{src: '/images/netstar.png'}

  .gray-background
    .container
      .row
        .description
          %hgroup
            %h2 Spina 2
            %h3 Webdesign, development

          %p Vanwege de grote vraag naar <strong>gebruiksvriendelijke applicaties</strong> hebben wij een <strong>framework</strong> ontwikkeld waarmee ontwikkelaars snel en gemakkelijk online apps kunnen bouwen.

          %p
            %a.button{href: 'http://spina2.denkgroot.com', target: '_blank'} Bekijk het ontwerp

        .image
          %img.retina-image{src: '/images/spina.png'}