.container
  .column
    %h1 Ons werk

.container
  .row
    .description
      %hgroup
        %h2 JustLocal
        %h3 Internetconcept, webapplicatie

      %p Nog maar heel even en dan wordt ons laatste project uit de doeken gedaan...

    .image
      %img{src: '/images/justlocal.png'}

.gray-background
  .container
    .row
      .description
        %hgroup
          %h2 Netstar Productions
          %h3 Webdesign, development

        %p Door de website van Netstar Productions te voorzien van grote en duidelijke elementen behaalt het een <strong>veel hogere conversie</strong> dan voorheen. Dankzij <strong>responsive design</strong> is de website nu ook geschikt voor <strong>smartphones en tablets</strong>. Hierdoor is de site altijd en overal bereikbaar.

        %p 
          %a.button{href: 'http://www.netstar.nl', target: '_blank'} Bekijk de website

      .image
        %img{src: '/images/netstar.png'}

.container
  .row
    .description
      %hgroup
        %h2 Spina
        %h3 Webdesign, development

      %p Vanwege de grote vraag naar <strong>gebruikersvriendelijke applicaties</strong> hebben wij een <strong>framework</strong> ontwikkeld waarmee ontwikkelaars snel en gemakkelijk online apps kunnen bouwen.

      %p 
        %a.button{href: 'http://spina.denk-groot.nl', target: '_blank'} Bekijk het ontwerp

    .image
      %img{src: '/images/spina.png'}