.container
  .column
    %h1 Ons werk

.container
  .row
    .description
      %hgroup
        %h2 denkMobiel.nl
        %h3 Internetconcept

      %p Is jouw website geschikt voor <strong>mobiel</strong> en <strong>tablet</strong>? Wij zorgen ervoor dat ons werk klaar is voor de <strong>toekomst</strong> en goed werkt op uiteenlopende formaten.

      %p
        %a.button{href: 'http://www.denkmobiel.nl', target: '_blank'} Test je website

    .image
      %img{src: '/images/denkmobiel.png'}

.gray-background
  .container
    .row
      .description
        %hgroup
          %h2 JustLocal
          %h3 Internetconcept, webapplicatie

        %p Nog maar heel even en dan presenteren we ons nieuwste project...

      .image
        %img{src: '/images/justlocal.png'}

.container
  .row
    .description
      %hgroup
        %h2 Netstar Productions
        %h3 Webdesign, development

      %p Door de website van Netstar Productions te voorzien van grote en duidelijke elementen behaalt het een <strong>hogere conversie</strong> dan voorheen. Dankzij <strong>responsive design</strong> is de website nu ook geschikt voor <strong>smartphones en tablets</strong>. Hierdoor is de site altijd en overal bereikbaar.

      %p
        %a.button{href: 'http://www.netstar.nl', target: '_blank'} Bekijk de website

    .image
      %img{src: '/images/netstar.png'}

.gray-background
  .container
    .row
      .description
        %hgroup
          %h2 Spina 2
          %h3 Webdesign, development

        %p Vanwege de grote vraag naar <strong>gebruiksvriendelijke applicaties</strong> hebben wij een <strong>framework</strong> ontwikkeld waarmee ontwikkelaars snel en gemakkelijk online apps kunnen bouwen.

        %p
          %a.button{href: 'http://spina2.denkgroot.com', target: '_blank'} Bekijk het ontwerp

      .image
        %img{src: '/images/spina.png'}