.container
  .column
    %h1 Over ons

  .row
    .column.four
      %h2 denkGroot
      %p Wij bouwen <strong>applicaties voor het web</strong> en mobiele apparaten als de <strong>iPhone</strong> en de <strong>iPad</strong>. Wij helpen ondernemers <strong>internetstrategieën</strong> op te zetten en werken deze plannen verder uit.
      %p Wij werken aan onze eigen concepten en proberen zo de markt te verrijken.
      %p
        %a.navlink{href: '#portfolio'} Bekijk ons werk

    .column.four
      %h2 Onze visie
      %p Wij ontwikkelen geen maatwerksoftware met duizend-en-één onbegrijpelijke mogelijkheden. Een applicatie is pas geslaagd als deze <strong>intuïtief en zonder handleiding</strong> is te gebruiken. Bij ons ligt de nadruk op <strong>software</strong> die werkt.

    .column.four
      %h2 Onze aanpak
      %p Wij werken <strong>agile</strong>. Wij leveren liever <strong>uitstekende applicaties</strong> dan uitgebreide documentatie.
      %p Dankzij korte sprints van <strong>twee tot vier weken</strong> schakelen we snel en blijven we <strong>flexibel</strong>.
      %p
        %a.navlink{href: '#services'} Lees meer over onze diensten

  .row
    .column
      %h2 Het Team

    .column.profile
      %img.profile-picture{src: "/images/bram.jpg"}
      .description
        %h3 Bram
        %small Technisch directeur
        %p Als developer programmeert Bram er graag op los. Hij is een vurig liefhebber van Ruby, CoffeeScript en Apple, maar weet ook zijn weg te vinden in Photoshop.

    .column.profile
      %img.profile-picture{src: "/images/jeroen.jpg"}
      .description
        %h3 Jeroen
        %small Creatief directeur
        %p Met zijn ondernemersspirit barst Jeroen van de ideeën. Iedere dag komt hij tot nieuwe en spannende concepten, dankzij een flinke dosis creativiteit en energie voor tien.

    .column.profile
      %img.profile-picture{src: "/images/harm.jpg"}
      .description
        %h3 Harm
        %small Ontwikkelaar
        %p Geef Harm een lekkere kop koffie en hij bouwt de meest ingenieuze oplossingen voor complexe problemen. Daarnaast weet hij zijn weg te vinden in de rootdirectories van onze servers.

    .column.profile
      %img.profile-picture{src: "/images/alan.jpg"}
      .description
        %h3 Alan
        %small Schrijver
        %p Naast het spreken van vele talen en het lezen van stapels boeken is Alan uitmuntend schrijver van vlijmscherpe teksten.

  .row
    .column.profile
      %img.profile-picture{src: "/images/kim.jpg"}
      .description
        %h3 Kim
        %small Ontwerper
        %p Ontwerpen in de breedste zin gecombineerd met haar onderzoeksvaardigheden zorgen altijd voor een uitdagend concept. Het vrouwelijk tintje wat denkGroot scherp houdt.

    .column.profile
      %img.profile-picture{src: "/images/roy.jpg"}
      .description
        %h3 Roy
        %small Ontwerper
        %p Een animator en ontwerper in hart en nieren. Eerst schetsen en brainstormen om uiteindelijk tot een verbluffend resultaat te komen. Een uitdaging gaat hij graag aan!

    .column.profile
      %img.profile-picture{src: "/images/stagiair.jpg"}
      .description
        %h3 Jij hier?
        %small Stage
        %p Studeren is hartstikke leuk, maar je kennis in de praktijk brengen is nóg leuker! Bij ons werk je aan spannende en uitdagende projecten.
