@import url(normalize.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  min-height: 100%; }

.page {
  min-height: 100%; }

.container {
  padding: 0 10px;
  zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

.row {
  zoom: 1;
  display: block; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

.column {
  padding: 0 10px; }
  .column.four {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .column.four:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .column.four {
        display: block;
        float: left;
        margin-right: 3.57866%;
        width: 48.21067%; }
        .column.four:last-child {
          margin-right: 0; }
        .column.four:nth-child(2n) {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      .column.four {
        display: block;
        float: left;
        margin-right: 7.42297%;
        width: 100%; }
        .column.four:last-child {
          margin-right: 0; } }

.profile {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .profile:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .profile {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 48.21067%; }
      .profile:last-child {
        margin-right: 0; }
      .profile:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .profile {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%; }
      .profile:last-child {
        margin-right: 0; } }
  .profile img {
    width: 100%; }
    @media screen and (max-width: 480px) {
      .profile img {
        display: block;
        float: left;
        margin-right: 7.42297%;
        width: 19.43277%; }
        .profile img:last-child {
          margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .profile .description {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 73.14426%; }
      .profile .description:last-child {
        margin-right: 0; } }
  .profile h3 {
    color: #0088cc;
    font-family: "SkolarWeb-Italic";
    font-size: 20px;
    font-weight: normal;
    margin: 12px 0 0 0;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .profile h3 {
        margin: 0;
        text-align: left; } }
  .profile small {
    color: #666666;
    display: block;
    font-family: "Aller-Italic";
    font-size: 15px;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .profile small {
        text-align: left; } }

.profile-picture {
  -webkit-border-radius: 50%;
  border-radius: 50%; }

h1 {
  border-bottom: 1px dashed #e5e5e5;
  color: #333333;
  font-family: "SkolarBasicLt-Regular";
  font-size: 48px;
  font-weight: normal;
  line-height: 80px; }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 40px;
      line-height: 60px; } }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 32px;
      line-height: 48px; } }

h2 {
  color: #01a388;
  font-family: "AllerDisplay-Regular";
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 20px; } }
  @media screen and (max-width: 480px) {
    h2 {
      font-size: 16px; } }

p {
  color: #666666;
  font-family: "Aller-Regular";
  font-size: 14px;
  line-height: 22px; }
  p strong {
    font-family: "Aller-Bold"; }
  p a {
    color: #0088cc;
    text-decoration: none;
    -webkit-transition: compact(color 0.2s ease-in-out, false, false, false, false, false, false, false, false);
    -moz-transition: compact(color 0.2s ease-in-out, false, false, false, false, false, false, false, false);
    -ms-transition: compact(color 0.2s ease-in-out, false, false, false, false, false, false, false, false);
    -o-transition: compact(color 0.2s ease-in-out, false, false, false, false, false, false, false, false);
    transition: compact(color 0.2s ease-in-out, false, false, false, false, false, false, false, false); }
  p a:hover {
    color: #01a388; }

::-moz-selection {
  background-color: #333333;
  color: white; }

::selection {
  background-color: #333333;
  color: white; }
